li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  img{
    max-width: 200px;
}  

body{
    text-align: center;
    background-color: rgb(32, 128, 218);
}

textarea{
  max-width: auto;
}

.label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

.column{
    width: 49%;
    float: left;
}

.burger-box{
    width:30%;
    height:150px;
}